{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
{% endblock %}

{% block body %}

    <div class="row">
        <a href="{{ path('task_create') }}" class="btn btn-success">Créer une nouvelle tâche</a>
        <a href="{{ path('task_list') }}" class="btn btn-info">Consulter la liste des tâches à faire</a>
        <a href="" class="btn btn-secondary">Consulter la liste des tâches terminées</a>
    </div>
    {% if is_granted('ROLE_ADMIN') %}

    <h2>Admin section :</h2>
    <div class="row">
    	<a href="{{ path('annoymmous_task_list') }}" class="btn btn-info">Consulter la liste des tâches sans propriétaires</a>
    	<a href="user_list"  class="btn btn-success">Consulter la liste des utilisateurs</a>
    	<a href="user_create"  class="btn btn-primary">Créer un utilisateur</a>
    </div>
    {% endif %}
{% endblock %}
